<p id="notice"><%= notice %></p>

<p>
  <strong>Roundnum:</strong>
  <%= @series.roundNum %>
</p>

<p>
  <strong>Team1:</strong>
  <%= Team.find(@series.team1_id).name %>
</p>

<p>
  <strong>Team2:</strong>
  <%= Team.find(@series.team2_id).name %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
